@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<section id="hero-section">
    <div>
        <h1>Welcome to PetRush</h1>
        <h2>Keep your pets happy with our food and accessories</h2>
        <h3>
            We have all kind of pets to adopt. Our pets are
            vaccinated and trained
        </h3>
        <a href="http://uskt.edu.pk/" class="btn">Adopt Now</a>
    </div>
</section>
<section id="featured">
    <h2>Get your pet at <span>best price</span></h2>
    <div class="container">
        <div>
            <img src="~/img/pet-1.jpg" alt="pet" width="350rem" height="235rem">
            <h3>Dog</h3>
            <p>$200</p>
            <button class="btn">Adopt</button>
        </div>
        <div>
            <img src="~/img/pet-2.jpg" alt="pet" width="350px" height="235px">
            <h3>Cat</h3>
            <p>$180</p>
            <button class="btn">Adopt</button>
        </div>
        <div>
            <img src="~/img/pet-3.jpg" alt="pet" width="350px" height="235px">
            <h3>Bird</h3>
            <p>$80</p>
            <button class="btn">Adopt</button>
        </div>
    </div>
    <button class="btn-sec">More...</button>
</section>
<section id="services">
    <h2>Meet your <span>pets needs</span></h2>
    <div class="container">
        <div class="cards">
            <img src="~/img/veterinary.svg" alt="">
            <h3>Animal Consultation</h3>
            <p>Consult our experts for your pet health.</p>
        </div>
        <div class="cards">
            <img src="~/img/pet-hotel.svg" alt="">
            <h3>Pet Food & Accessories</h3>
            <p>Buy the best food to keep your pet healty.</p>
        </div>
        <div class="cards">
            <img src="~/img/pet-house.svg" alt="">
            <h3>Buy a new Pet</h3>
            <p>Buy your favourite pet at a reasonable price.</p>
        </div>
    </div>
</section>
<section id="team">
    <div>
        <img src="#" alt="#">
        <h3>name</h3>
        <p>job title</p>
    </div>
    <div>
        <img src="#" alt="#">
        <h3>name</h3>
        <p>job title</p>
    </div>
    <div>
        <img src="#" alt="#">
        <h3>name</h3>
        <p>job title</p>
    </div>
</section>