@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

    .hamburger {
        display: block;
    }

    header div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #navbar {
        flex-direction: column;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        background-color: var(--blackgrey);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    #navbar.active {
        left: 0;
    }

}